<%= render 'header', title: "Edit Page" %>
<div class="form-container">
  <%= render 'form_edit', user: @user %>
  <div class="link">
    <%= link_to 'Back to profile', '/profile', class: "btn btn-info" %>
  </div>
</div>
